.live-score {
  background: linear-gradient(135deg, #111, #1a1a1a);
  margin: 30px 20px;
  padding: 35px 20px;
  border-radius: 20px;
  text-align: center;
  border: 2px solid #c40000;

  box-shadow: 0 0 20px rgba(196, 0, 0, 0.4);
}

.live-score h2 {
  color: #ff3b3b;
  font-size: 32px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.score {
  font-size: 52px;
  font-weight: bold;
  margin-bottom: 15px;
  color: white;
}

.live-score p {
  color: #cfcfcf;
  font-size: 20px;
}

/* LIVE ANIMATION */

.score {
  animation: pulse 2s infinite;
}

@keyframes pulse {

  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.03);
  }

  100% {
    transform: scale(1);
  }
}

/* MOBILE */

@media (max-width: 768px) {

  .live-score {
    padding: 25px 15px;
  }

  .live-score h2 {
    font-size: 24px;
  }

  .score {
    font-size: 34px;
  }

  .live-score p {
    font-size: 16px;
  }
}
